

header h1{
    text-shadow: 2px 2px 2px rgb(160, 26, 26);
    text-align: center;
    text-decoration: aqua;
}

header nav ul li a:link{
    color: green;
}
header nav ul li a:visited{
    color: red;
}
header nav ul li a:hover{
        color: blueviolet;
}
.card{
    display:flex;
    height:200px;
    flex-basis: 30%;
    background-color: yellowgreen;
    border: 5px solid coral;
}
#skills{
    flex-basis: 100%;
    background-color: yellowgreen; 
    border: 5px solid coral;
    background-size: cover;
    background-repeat: no-repeat;
}